In [ ]:
a=18
print("I am ",a," years old")

I am  18  years old

Operators

In [ ]:
##arithmetic
a=5
b=10
print(a+b)

15

In [ ]:
#power
print(5**2)

25

In [ ]:
#floor division
print(25//2)

12

In [ ]:
#division
print(25/2)

12.5

Relational

In [ ]:
a=6
b=6
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
True
False

Logical

In [ ]:
a=9
b=25
print((a>b)and (a<b))   #false and true

False

In [ ]:
print((a>b) or (a<b))#false or true

True

Membership

In [ ]:
a="Pirate"
print("a" in a)
print("a" not in a)
print("v"  in a)

True
False
False

Conditional if

#write a program to get a number from the user whether it is positive or not

In [ ]:
#write a program to get a number from the user whether it is positive or not
a=int(input("Enter a number "))
if(a>0):
  print(a,"is positive")
else:
  print(a,"is negative")

Enter a number -7
-7 is negative

In [ ]:
#using elif
a=int(input("Enter a number "))
if(a>0):
  print(a,"is positive")
elif(a==0):
  print(a,"is neutral")
else:
  print(a,"is negative")

Enter a number -8
-8 is negative

For loop

In [ ]:
from re import I
#Print 6 table
a=int(input("Enter a value: "))
for i in range(1,11,1):
  n=a*i
  print(n)

Enter a value: 6
6
12
18
24
30
36
42
48
54
60

Type Casting

In [ ]:
a=25.3  #float
b=6   #int
print(int(a*b))

151

In [ ]:
a="45"
a=int(a)
print((type(a)))

<class 'int'>

Data Slicing

In [ ]:
a="Python is easy"
print(a[0:6])#start:stop:step

Python

In [ ]:
a="Python is easy"
print(a[::-1])

ysae si nohtyP

In [ ]:
a="Python is easy"
print(a[::2])

Pto ses

While loop

In [ ]:
#print a table using while loop
a=int(input("Enter a number"))
i=1
while(i<=10):
  print(a,"*",i," = ",a*i)
  i=i+1

Enter a number5
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50

List


*   List is a collection of elemnts
*   List is Heterogeneous
*   List is Mutable

In [ ]:
L1=[34,"Killer",98.5,45]
print(L1)

[34, 'Killer', 98.5, 45]

In [ ]:
for i in L1:
  print(i)

34
Killer
98.5
45

In [ ]:
M1=[42,"Dhoni",99.9,"CSK"]
print(M1)

[42, 'Dhoni', 99.9, 'CSK']

In [ ]:
#append
M1.append("Thala")
print(M1)

[42, 'Dhoni', 99.9, 'CSK', 'Thala']

In [ ]:
#insert
M1.insert(4,7)
print(M1)

[42, 'Dhoni', 99.9, 'CSK', 7, 'Thala']

In [ ]:
V1=[36,"Virat",99.8,"RCB",18,"King"]
print(V1)

[36, 'Virat', 99.8, 'RCB', 18, 'King']

In [ ]:
#extend
M1.extend(V1)
print(M1)

[42, 'Dhoni', 99.9, 'CSK', 7, 'Thala', 36, 'Virat', 99.8, 'RCB', 18, 'King']

In [ ]:
#pop
M1.pop(3)
print(M1)
V1.pop(3)
print(V1)

[42, 'Dhoni', 99.9, 7, 'Thala', 36, 'Virat', 99.8, 'RCB', 18, 'King']
[36, 'Virat', 99.8, 18, 'King']

In [ ]:
#remove
M1=[42, 'Dhoni', 99.9, 7, 'Thala', 36, 'Virat', 99.8, 'RCB', 18, 'King']
M1.remove(99.9)
print(M1)

[42, 'Dhoni', 7, 'Thala', 36, 'Virat', 99.8, 'RCB', 18, 'King']

In [ ]:
M1.remove(99.8)
print(M1)

[42, 'Dhoni', 7, 'Thala', 36, 'Virat', 'RCB', 18, 'King']

In [ ]:
#min and max
n=[10,20,30,40,50,60,0,8,90]
print(max(n))
print(min(n))

90
0

List Comprehension!

*   Iterates
*   applies same function on every element
*   continous
*   output:List

In [ ]:
L1=[45,67,89,90]
L2=[i**2 for i in L1]  #output iterate
print(L2)

[2025, 4489, 7921, 8100]

In [ ]:
L1=[45,67,89,90]
L2=[i**2 for i in L1 if i>50]  #output iterate condition
print(L2)

[4489, 7921, 8100]

In [ ]:
#The salaries of Five employees in a company is taken as a list.The tax is 10% if the salary is less than or equal to 50000,if greaterthan 50k it is 15%
#or it is 15%
#create a new list with tax amounts
#[67000,45000,89000,34000,50000]
#list_name=[(body of if) if(condition)else(elsebody)iterate]

sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=0.1*i
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

Using List Comprehension

In [ ]:
sal=[67000,45000,89000,34000,50000]
#list_name=[(body of if) if(condition)else(elsebody)iterate]
tax=[i*0.1 if(i<=50000) else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]